body{
  background-image: url("../images/mainbackground.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.maincontent{
  background-color:white;
  margin:auto 0px;
  padding:30px;
  min-height:700px;
}
#mainslideshow, .carousel-inner{
  height:500px;
}
#mainslideshow{
  margin-bottom:50px;
}
header{
  width:100%;
  padding:10px;
  margin-bottom:30px;
}
header h1{
  font-weight: bold;
  font-size:72px;
}
header h2{
  font-size:15px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:5px;
    margin: auto;
    text-align: center;
    background-color:white;
    margin-bottom:30px;
}

.card .container {
    padding: 0 16px;
}

.card .title {
    color: grey;
    font-size: 18px;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card button:hover, .card a:hover {
    opacity: 0.7;
}
.card img{
  border-radius: 100%;
  border:solid 2px black
}
footer{
  background-color:#1a1a1a;
  padding:20px;
  text-align: right;
  width:100%;
}
footer a, footer a:focus, footer a:hover, footer a:active{
  margin:10px;
  color:white;
  text-decoration: none;
}
footer a:hover{
  opacity: 0.8
}
